body {
    font-family: 'Fascinar Inline';
}

footer {
    background-color: black;
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    height: 2rem;
    margin-top: 0.5rem;
}
#container{
    display: flex;
}

.cartao{
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20rem;;
    flex-grow: 1;
    flex-basis: calc(33% - 0.6rem);
}

.cartao{
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition:transform 300ms ease-in-out;

}
.cartao{
    background-color: red;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
}
